* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
}
html {
    font-size: 62.5%;
}
.container .row {
    display: flex;
    justify-content: center;
    
}
.card {
    margin: 0.5rem;
}